<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CowntIA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body class="d-flex flex-column">

    <div class="p-3 d-flex bg-white flex-row container-fluid absolute-div">
        <div class="d-inline-flex align-items-center">
            <h1 class="text-primary"><b>IA</b></h1>
            <h2 class="ml-4">CowntIA</h2>
        </div>
    </div>

    <div class="d-flex flex-fill justify-content-center align-items-center ">
        <div class="d-flex flex-column upload-container justify-content-center align-items-center">
            <h3 class="mb-3">Elige un par de imágenes</h3>

            <form method=post class="d-flex flex-column justify-content-center align-items-center"
                  enctype=multipart/form-data action="{{ url_for('process_img') }} ">

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileFront" name=file_front required>
                    <label id="customFileLabelFront"
                           class="custom-file-label" for="customFileFront">Imagen frontal</label>
                </div>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileSide" name=file_side required>
                    <label id="customFileLabelSide"
                           class="custom-file-label" for="customFileSide">Imagen lateral</label>
                </div>

                <div class="form-group-lg">
                    <label id="numberLabel" for="number">Introduce la anchura de la plantilla (cm)</label>
                    <input type="number" class="form-control" id="number" value="10" name=number required placeholder="10">
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Calcular</button>
                </div>
            </form>


        </div>
    </div>

    <script>
        const fileFront = document.getElementById("customFileFront");
        const labelFront = document.getElementById("customFileLabelFront");
        fileFront.onchange = () => labelFront.textContent = fileFront.value.split('\\').pop();

        const fileSide = document.getElementById("customFileSide");
        const labelSide = document.getElementById("customFileLabelSide");
        fileSide.onchange = () => labelSide.textContent = fileSide.value.split('\\').pop();
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>
</html>
